* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main_header {
  background-color: #f7f7f7;

  padding: 20px 40px;
  margin-bottom: 60px;
  border-top: 10px solid #0d7b8c;
  /* height: 80px; */
}

.post_header {
  margin-bottom: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

article {
  margin-bottom: 40px;
}

/* smaller elements */
nav a:link {
  /* background-color: orangered;
  margin: 20px;
  display: block;
  width: fit-content;
  padding: 10px; */

  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0px;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* top: 10; */
  bottom: 50px;
  right: 50px;
}

h1,
h2,
h3 {
  color: rgb(144, 48, 48);
}
h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

p strong {
  color: red;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 50px;
}
li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

/* pseudo class */
s li:first-child {
  font-weight: bold;
}

/* li:nth-child(2) {
  color: red;
} */

/* styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098adc1;
}

a:hover {
  color: #0d7b8c;
  text-decoration: underline dotted #1098ad;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post_img {
  width: 100%;
}

/* FLOATS */
/*
.author_image {
  float: left;
  margin-bottom: 20px;
}

.author {
  
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

/* .clear {
  clear: both;
} */
/*
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}
*/

/* flexbox */
.main_header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

.author_box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.related_post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related_link:link {
  display: block;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}

.related-author {
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
}

.article_aside {
  display: flex;
  gap: 75px;
  align-items: flex-start;
  margin-bottom: 60px;
}

article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
}
