* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-weight: 500;
}

p {
  font-weight: 600;
}

h2 {
  margin-top: 20px;
}

.container {
  border: 5px solid #444;
  width: 1025px;
  margin: 50px auto;
  position: relative;
}
.sale_tag {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #ec2f2f;
  padding: 10px 20px;
  position: absolute;
  top: -20px;
  left: -40px;
}
.main_heading {
  text-align: center;
  background-color: rgb(234, 233, 232);
  text-transform: uppercase;
  padding: 20px 50px;
}

/* .product_image {
  margin-bottom: 10px;
  float: left;
  margin-right: 40px;
} */

.product_info {
  /* width: 243px; */
  /* float: left; */
  flex: 1;
  margin-top: 40px;
}

.product_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
  font-size: 14px;
}

a:link {
  color: rgb(34, 34, 34);
}

a:hover {
  color: rgb(23, 21, 21);
  text-decoration: none;
}

a:active {
  color: rgb(80, 5, 5);
}

.product_colors {
  /* display: inline-block; */
  display: inline-flexbox;
  gap: 10px;
}
.color {
  background-color: #000;
  height: 25px;
  width: 25px;
  /* margin: 0 10px; */

  margin-top: 10px;
  display: inline-block;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

.product_details {
  /* width: 243px; */
  /* float: left; */
  margin-top: 20px;
  flex: 1;
}

.product_details h2 {
  margin-bottom: 20px;
}

li {
  list-style-type: square;
  margin-left: 30px;
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  width: 100%;
  border-top: 5px solid black;
  font-size: larger;
  text-transform: uppercase;
}
button:hover {
  background-color: white;
  color: black;
}

.product_description {
  margin-bottom: 10px;
}

.row {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  gap: 20px;
}
